$bg-color-0: #181818;
$bg-color-1: #1D1D1D;
$bg-color-2: #292929;

$heading-primary: #FFFFFF;
$secondary: #515152;

$heading-attention-0: #08FDD8;
$heading-attention-1: #FD2155;

.highlight-pink {
    color: $heading-attention-1;
}