$white: #ffffffff;
$linen: #fceadeff;
$dark-turquoise: #25ced1ff;

$paradise-pink: #ea526fff;
$coral: #ff8a5bff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$linen: hsla(24, 83%, 93%, 1);
$dark-turquoise: hsla(181, 70%, 48%, 1);
$paradise-pink: hsla(349, 78%, 62%, 1);
$coral: hsla(17, 100%, 68%, 1);

/* SCSS RGB */
$white: rgba(255, 255, 255, 1);
$linen: rgba(252, 234, 222, 1);
$dark-turquoise: rgba(37, 206, 209, 1);
$paradise-pink: rgba(234, 82, 111, 1);
$coral: rgba(255, 138, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-right: linear-gradient(90deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-left: linear-gradient(270deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);
$gradient-radial: radial-gradient(#ffffffff, #fceadeff, #25ced1ff, #ea526fff, #ff8a5bff);

$white: #fff;
$grey: #636363;
.white-text {
  color: $white;
}

.secondary-text {
  color: $grey;
}

.blue-text-main {
  color: #039be5;
}