@use "./colors" as colors;
@use "./typography" as typography;


.contact-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contactleft contactright";

    .contact-left {
        grid-area: contactleft;
        padding-left: 24px;
        padding-right: 24px;
        
        p {
            font-size: 1.1rem;
            color: #fff;
            margin-top:0;
            margin-bottom: 0;

            &::before {
                content: "<p>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }
    
            &::after {
                content: "</p>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }
        }

        .contact-social {
            .contact-social-media-icon-wrapper {
                font-size: 3rem;
                .social-media-links {
                    color: #fff;

                    &:hover {
                        color: colors.$heading-attention-0;
                    }
                }
                
            }
        }
    }

    .contact-right {
        grid-area: contactright;
        .contact-form {
            &::before {
                content: "<form>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }
    
            &::after {
                content: "</form>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }

            .contact-form-wrapper {                
                .form-item {
                    padding-bottom: 10px;
                }

                input { 
                    height: 50px;
                    border: 0;
                    padding: 0 20px;
                    width: 100%;
                    background-color: colors.$bg-color-2;
                    box-shadow: 0 0 2.08333rem rgba(0,0,0,.5);
                    color: #999;
                    box-sizing: border-box;
                    
                }
                
                .contact-grid-item {
                    position: relative;

                    .input-text, .input-textarea {
                        border-bottom: 1px solid #999;
                    }
    
                    .input-text ~ .focus-border, 
                    .input-textarea ~ .focus-border {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: colors.$heading-attention-0;
                        transition: 0.5s;
                        -webkit-transition: 0.5s;
                        -moz-transition: 0.5s;
                        -ms-transition: 0.5s;
                        -o-transition: 0.5s;
                    }
                    
                    .input-text:focus ~ .focus-border,
                    .input-textarea:focus ~ .focus-border {
                        width: 100%;
                        transition: 0.5s;
                        -webkit-transition: 0.5s;
                        -moz-transition: 0.5s;
                        -ms-transition: 0.5s;
                        -o-transition: 0.5s;
                    }
                    
                }

                textarea {
                    border: 0;
                    padding: 20px 20px;
                    width: 100%;
                    background-color: #2b2b2b;
                    color: colors.$secondary;
                    box-shadow: 0 0 2.08333rem rgba(0,0,0,.5);
                    color: #999;
                    box-sizing: border-box;
                }

                button {
                    padding: 0.9rem 2rem;
                }

                .contact-grid-2 {
                    display: grid;
                    width: 100%;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "namearea emailarea";
                    grid-column-gap: 10px;
                    .name {
                        grid-area: namearea;
                        width: 100%;
                        position: relative;

                        input {
                            width: 100%;
                        }
                    }
                    .email {
                        grid-area: emailarea;
                        width: 100%;
                        position: relative;
                        input {
                            width: 100%;
                        }
                    }
                }

                .contact-grid-1 {
                    display: grid;
                    width: 100%;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .contact-wrapper {
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        grid-template-areas: "contactleft"
        "contactright";
        .contact-left {
            padding-left: 0;
            padding-right: 0;
            
            p {
                font-size: 1.1rem;
                color: #fff;

                &::before {
                    font-size: 0.8rem;
                }
        
                &::after {
                    font-size: 0.8rem;
                }
            }
        }
    
        .contact-right {
            .contact-form {
                &::before {
                    font-size: 0.8rem;
                }
        
                &::after {
                    font-size: 0.8rem;
                }
            }
        }
    }
}