@use "./colors" as colors;

* {
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: colors.$bg-color-1;
}

img {
    max-width: 100%;
}
  
input, select, textarea, button {
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section-wrapper {
    min-height: 100vh;
}

.list-group {
    border: 1px solid colors.$secondary;
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    .title {
        color: colors.$heading-attention-0;
    }
    
    .list-group-item {
        border-bottom: 1px solid colors.$secondary;
        padding: 1rem;

        &:last-child {
            border-bottom: 0;
        }

        

        .item-heading {
            margin-bottom: 0.7rem;
            color: #fff;
        }

        .content {
            color: colors.$secondary;
            font-size: 1rem;
            .skill-pill {
                background-color: colors.$heading-attention-0;
                color: colors.$bg-color-0;
                margin: 5px;
                padding: 5px 10px;
                border-radius: 10rem;
                display: inline-block;
                font-size: 0.8rem;
                -webkit-border-radius: 10rem;
                -moz-border-radius: 10rem;
                -ms-border-radius: 10rem;
                -o-border-radius: 10rem;
            }
        }
    }
}