.view.profile {
  height: 100vh;
  position: relative;
  background: rgb(3,155,229);
  background: -moz-linear-gradient(180deg, rgba(3,155,229,1) 0%, rgba(252,234,222,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(3,155,229,1) 0%, rgba(252,234,222,1) 100%);
  background: linear-gradient(180deg, rgba(3,155,229,1) 0%, rgba(252,234,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#039be5",endColorstr="#fceade",GradientType=1);

  .user-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #ffffff;
  }

  .subtext-header {
    color: #ffffff;
  }

  #wave {
    position: absolute;
    bottom: -20px;
    path {
      fill: #ffffff;
    }
  }
  .btn {
    position: relative;
    z-index: 1;
    font-weight: 600;
    color: #039be5!important;
    border-color: #039be5!important;
  }
}

@media (max-width: 740px) {
  .view.profile {
    .user-name {
      font-size: 2rem;
      font-weight: 500;
    }
    #wave {
      bottom: 0;
    }
  }
}
