@use "./colors" as colors;
@use "./typography" as typography;

.hero-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        padding: 0 24px;
        max-width: 1100px;
    }

    .hero-main-text-wrapper {
        color: #fff;
        font-family: typography.$heading-font;
        font-weight: bold;
        margin: 0 24px;
        padding-bottom: 10px;
        h1 {
            font-size: 5rem;
            position: relative;
            padding-top: 3rem;
            .intext-logo {
                height: 5rem;
                display: inline-block;
                margin-right: -1rem;
            }

            &::before {
                content: "<h1>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }

            &::after {
                content: "</h1>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }
        }
    }

    .hero-secondary-text-wrapper {
        font-family: typography.$heading-font;
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0 24px;
        padding-bottom: 20px;
        color: colors.$secondary;
        p {
            margin-top: 0;
            position: relative;
            &::before {
                content: "<p>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }

            &::after {
                content: "</p>";
                font-family: 'Cedarville Cursive', cursive;
                font-size: 1rem;
                color: colors.$secondary;
                display: block;
            }
        }
    }

    .hero-button-wrapper {
        margin: 0 24px;
        padding-bottom: 30px;
        .primary-button {
            padding: 1rem 4rem;
        }
    }

    .hero-social-wrapper {
        margin: 0 24px;
        .social-media-links {
            font-size: 1.5rem;
            padding-right: 24px;
            cursor: pointer;
            color: colors.$secondary;
            &:hover {
                color: colors.$heading-attention-0;
                transition: 0.3s ease-in;
                -webkit-transition: 0.3s ease-in;
                -moz-transition: 0.3s ease-in;
                -ms-transition: 0.3s ease-in;
                -o-transition: 0.3s ease-in;
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .hero-header {
        .hero-main-text-wrapper {
            margin: 0;
            h1 {
                font-size: 2.5rem;
                .intext-logo {
                    height: 2.5rem;
                    margin-right: -0.4rem;
                }
    
                &::before {
                    font-size: 0.8rem;
                }
    
                &::after {
                    font-size: 0.8rem;
                }
            }
        }
    
        .hero-secondary-text-wrapper {
            font-size: 1rem;
            margin: 0;
            padding-bottom: 20px;
            p {
                &::before {
                    font-size: 0.8rem;
                }
    
                &::after {
                    font-size: 0.8rem;
                }
            }
        }
    
        .hero-button-wrapper {
            margin: 0;
            padding-bottom: 30px;
            .primary-button {
                padding: 0.7rem 3rem;
            }
        }
    
        .hero-social-wrapper {
            margin: 0;
            .social-media-links {
                font-size: 1.5rem;
                padding-right: 24px;
                cursor: pointer;
                color: colors.$secondary;
                &:hover {
                    color: colors.$heading-attention-0;
                    transition: 0.3s ease-in;
                    -webkit-transition: 0.3s ease-in;
                    -moz-transition: 0.3s ease-in;
                    -ms-transition: 0.3s ease-in;
                    -o-transition: 0.3s ease-in;
                }
            }
        }
    }
}