@use "./colors" as colors;
@use "./typography" as typography;

.project-card-wrapper {
    padding: 24px;
    .project-card {
        background-color: colors.$bg-color-2;
        margin-bottom: 48px;
        padding: 2.5rem;
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "heading heading"
        "projectinfo projectimg";

        .project-card-name {
            grid-area: heading;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h3 {
                color: #fff;
                font-family: typography.$heading-font;
            }
            hr {
                width: 200px;
                margin-left: 0;
                color: colors.$heading-attention-1;
            }
        }

        .project-card-info {
            grid-area: projectinfo;
            p {
                color: #fff;
                font-size: 1.1rem;
            }
            .skill-pill {
                display: inline-block;
                background-color: colors.$heading-attention-0;
                color: colors.$bg-color-0;
                margin: 5px;
                padding: 5px 10px;
                border-radius: 10rem;
                display: inline-block;
                font-size: 0.8rem;
                -webkit-border-radius: 10rem;
                -moz-border-radius: 10rem;
                -ms-border-radius: 10rem;
                -o-border-radius: 10rem;
            }
            .project-buttons {
                margin-top: 2rem;
                .primary-button.project-link-button {
                    cursor: pointer;
                    color: #fff;
                    padding: 0.55rem 2rem;
                    border: 1px solid #fff;
                    background: url(../img/svg/parllelogram-1.svg);
                }
                
                .primary-button.project-link-button:hover{
                    background-position: 50%;
                    color: colors.$bg-color-0;
                    border: 1px solid #fff;
                }
                
                .primary-button.project-link-button:after {
                    content: "";
                    position: absolute;
                    background: #fff;
                }
                
                .project-link-button {
                    &:not(:first-child) {
                        margin-left: 12px;
                    }
                }
            }
        }

        .project-card-image {
            grid-area: projectimg;
            img {
                padding-left: 2rem;
            }
        }
    }
    
}

@media screen and (max-width: 900px) {
    .project-card-wrapper {
        padding: 0;
        padding-top: 24px;
        padding-bottom: 24px;
        
        .project-card {
            display: grid;
            grid-template-rows: 1fr 50px auto;
            grid-template-columns: 1fr;
            grid-template-areas: "projectimg"
            "heading"
            "projectinfo";
            
            .project-card-name {
                justify-content: center;
                align-items: center;
                h3 {
                    color: #fff;
                    font-family: typography.$heading-font;
                }
                hr {
                    width: 40%;
                    margin-left: 50%;
                    margin-right: 50%;
                    color: colors.$heading-attention-1;
                }
            }
            .project-card-image {
                img {
                    padding: 1rem;
                }
            }
        }
        
    }
}