.project-card {
  margin: 0 0.1rem;
  .card-body {
    padding: 0rem;
    .project-name {
      font-weight: 600;
      font-size: 1.05rem;
    }
    span.badge-pill {
      font-weight: normal;
      padding: 5px 10px;
      background-color: #694db3;
    }
    .footer {
      background-color: #694db3;
      .link-button {
        width: 49.9%;
        display: inline-block;
        color: $white;
        &:hover { 
          background-color: #41316b;
          border-bottom-right-radius: .25rem !important;
          border-bottom-left-radius: .25rem !important;
        }
      }
      .vertical-rule {
        display: inline-block;
        border-left: 1px solid $white;
        height: 2rem;
      }
    }
  }
}