.project-card {
  margin: 0 0.1rem;
  .card-body {
    padding: 0rem;
    .project-name {
      font-weight: 600;
      font-size: 1.05rem;
    }
    span.badge-pill {
      font-weight: normal;
      padding: 5px 10px;
      background-color: #694db3;
    }
    .footer {
      background-color: white;
      overflow: hidden;
      .link-button {
        background-color: #694db3;
        padding: 1rem 0;
        &:first-child {
          background-color: #7151cc;
        }
        a {
          color: white;
          &:hover {
            color: #b8b8b8;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .footer {
    background-color: white;
    overflow: hidden;
    .link-button {
      margin: 0.5px;
    }
  }
}