@use "../base" as base;

footer {
  background-color: base.$bg-color-0;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  margin-top: 12px;

  a {
    color: base.$heading-attention-0;
  }
}
