@use "../base" as base;

.hero-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
  }

  .hero-main-text-wrapper {
    color: #fff;
    font-family: base.$heading-font;
    font-weight: bold;
    margin: 0 24px;
    padding-bottom: 10px;
    h1 {
      font-size: 4rem;
      position: relative;
      padding-top: 3rem;

      &::before {
        content: "<h1>";
        font-family: base.$cursive;
        font-size: 1rem;
        color: base.$secondary;
        display: block;
      }

      &::after {
        content: "</h1>";
        font-family: base.$cursive;
        font-size: 1rem;
        color: base.$secondary;
        display: block;
      }
    }
  }

  .hero-secondary-text-wrapper {
    font-family: base.$regular-font;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0 24px;
    padding-bottom: 20px;
    color: base.$secondary;
    p {
      margin-top: 0;
      position: relative;
      &::before {
        content: "<p>";
        font-family: base.$cursive;
        font-size: 1rem;
        color: base.$secondary;
        display: block;
      }

      &::after {
        content: "</p>";
        font-family: base.$cursive;
        font-size: 1rem;
        color: base.$secondary;
        display: block;
      }
    }
  }

  .hero-button-wrapper {
    margin: 0 24px;
    padding-bottom: 30px;
    .primary-button {
      padding: 1rem 4rem;
    }
  }

  .hero-social-wrapper {
    margin: 0 24px;
    .social-media-links {
      font-size: 1.5rem;
      padding-right: 24px;
      cursor: pointer;
      color: base.$secondary;
      &:hover {
        color: base.$heading-attention-0;
        transition: 0.3s ease-in;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -ms-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
      }
    }
  }
}

.intext-logo {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  margin-right: -1rem;
}

@include base.respond-to(medium) {
  .intext-logo {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    margin-right: -0.5rem;
  }

  .hero-header {
    .hero-main-text-wrapper {
      margin: 0;
      h1 {
        font-size: 2.5rem;

        &::before {
          font-size: 0.8rem;
        }

        &::after {
          font-size: 0.8rem;
        }
      }
    }

    .hero-secondary-text-wrapper {
      font-size: 1rem;
      margin: 0;
      padding-bottom: 20px;
      p {
        &::before {
          font-size: 0.8rem;
        }

        &::after {
          font-size: 0.8rem;
        }
      }
    }

    .hero-button-wrapper {
      margin: 0;
      padding-bottom: 30px;
      .primary-button {
        padding: 0.7rem 3rem;
      }
    }

    .hero-social-wrapper {
      margin: 0;
      .social-media-links {
        font-size: 1.5rem;
        padding-right: 24px;
        cursor: pointer;
        color: base.$secondary;
        &:hover {
          color: base.$heading-attention-0;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }
      }
    }
  }
}
