@use "../base" as base;

.section-wrapper {
  min-height: 100vh;
}

.list-group {
  border: 1px solid base.$secondary;
  height: 100%;
  width: 100%;
  font-size: 1.1rem;

  .title {
    color: base.$heading-attention-0;
  }

  .list-group-item {
    border-bottom: 1px solid base.$secondary;
    padding: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    .item-heading {
      margin-bottom: 0.7rem;
      color: #fff;
    }

    .content {
      color: base.$secondary;
      font-size: 1rem;
      .skill-pill {
        background-color: base.$heading-attention-0;
        color: base.$bg-color-0;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 10rem;
        display: inline-block;
        font-size: 0.8rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
      }
    }
  }
}
