@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: #ededed;
  background: #1d1d1d;
  font-family: var(--font-nunito-sans);
}

@layer utilities {
  ::selection {
    background-color: rgba(1, 255, 217, 0.5);
    color: #ffffff;
  }
}


.magicpattern {
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-color: #1d1d1d;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
