$bg-color-0: #181818;
$bg-color-1: #1d1d1d;
$bg-color-2: #292929;

$heading-primary: #ffffff;
$secondary: #515152;

$heading-attention-0: #08fdd8;
$heading-attention-1: #fd2155;

.highlight-pink {
  color: $heading-attention-1;
}
/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
