@use "./palette" as base;

$montserrat: "Montserrat", sans-serif;
$nuntio: "Nunito Sans", sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$regular-font: "Nunito Sans", sans-serif;
$heading-font: "Montserrat", sans-serif;
$cursive: "Cedarville Cursive", cursive;

html,
body {
  font-family: $nuntio;
}

.default-font {
  font-size: 16px;
  font-family: $nuntio;
}

.secondary-font {
  font-size: 14px;
  font-family: $nuntio;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.primary-heading {
  color: base.$heading-attention-0;
}
